extends layout

block content
  .we-container
    h1 Gestão de Filmes
    ul.w3-ul
      li
        a(href="http://localhost:3008/filmes") Listar Filmes
      li
        a(href="http://localhost:3008/filmes/inserir") Inserir Filme    
